@media screen and (min-width: 576px) {
    .header-content .navbar{
        display: block;
    }
    .header-content .subscribe{
        display: block;
    }
    .header-content .hamburger{
        display: none;
    }
    .hero{
        background-image: url(../images/hero-bg.png);
    }
}
@media screen and (min-width: 992px) {
    .hero{
        height: 76rem;
        background-image: url(../images/hero-bg.png);
    }
}