@media screen and (min-width: 576px) {
    section, footer{
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    section .section-title{
        margin-bottom: 4rem;
    }
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 4.8rem;
    }
    h3{
        font-size: 3.2rem;
    }
    p{
        line-height: 2.8rem;
    }


    /* Header Section Style CSS  */
    .header-content .brand img{
        max-height: 3.2rem;
    }
    .header-content .navbar{
        display: block;
    }
    .header-content .subscribe{
        display: block;
    }
    .header-content .hamburger{
        display: none;
    }

    /* Hero Section Style CSS  */
    .hero{
        background-image: url(../images/hero-bg.png);
        height: 76rem;
    }
    .hero-img{
        width: 35rem;
        height: 35rem;
    }
    .hero-img .hero-mic{
        width: auto;
        height: 17.5rem;
    }
    .hero-img .hero-badge{
        top: 12px;
        right: 3.2px;
        padding: .8rem 1.8rem;
    }
    .hero-content h1{
        margin-top: 4rem;
    }

    /* About the Potcast Section Style CSS  */
    .about{
        padding-top: 5rem;
    }
    .about .container hr{
        border: none;
        height: .1rem;
        background: rgba(255, 255, 255, 0.07);
        margin: 8rem 0;
    }
    
    /* Services Secion Style CSS  */
    .services .service-content{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 3rem;
    }
    .services .service-content .content-01{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    .services .service-content .content-02,
    .services .service-content .content-03{
        grid-column: 3 / span 4;
    }
    .services .service-content .content-04{
        grid-column: 1 / span 4;
    }
    .services .service-content .content-05{
        grid-column: 5 / span 2;
    }
    .services .service-content .content-group{
        border-radius: 4rem;
        padding: 4rem;
    }
    .services .service-content .content-group img{
        max-height: 6rem;
    }
    .services .service-content .content-group h3{
        font-size: 2.4rem;
    }

    /* Featured Episodes Section Style CSS  */
    .episodes .episode-container{
        gap: 3rem;
    }
    .episodes .episode-card{
        border-radius: 2.4rem;
    }
    .episodes .episode-card iframe{
        border-top-left-radius: 2.4rem;
        border-top-right-radius: 2.4rem;
    }
    .episodes .episode-card .episode-content{
        padding: 2.4rem;
    }
    .episodes .episode-card .episode-content h4{
        font-size: 2.4rem;
        margin-bottom: 1.2rem;
    }
    .episodes .episode-card .episode-content p{
        margin-bottom: 1.2rem;
    }
}
@media screen and (min-width: 992px) {
    .hero{
        height: 76rem;
        background-image: url(../images/hero-bg.png);
    }
}