@media screen and (min-width: 576px) {
    section, footer{
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 4.8rem;
    }
    h3{
        font-size: 3.2rem;
    }
    p{
        line-height: 2.8rem;
    }


    /* Header Section Style CSS  */
    .header-content .brand img{
        height: 3.2rem;
    }
    .header-content .navbar{
        display: block;
    }
    .header-content .subscribe{
        display: block;
    }
    .header-content .hamburger{
        display: none;
    }

    /* Hero Section Style CSS  */
    .hero{
        background-image: url(../images/hero-bg.png);
        height: 76rem;
    }
    .hero-img{
        width: 35rem;
        height: 35rem;
    }
    .hero-img .hero-mic{
        width: auto;
        height: 17.5rem;
    }
    .hero-img .hero-badge{
        top: 12px;
        right: 3.2px;
        padding: .8rem 1.8rem;
    }
    .hero-content h1{
        margin-top: 4rem;
    }

    /* About the Potcast Section Style CSS  */
    .about{
        margin-top: 5rem;
    }
    .about .container hr{
        border: none;
        height: .1rem;
        background: rgba(255, 255, 255, 0.07);
        margin: 8rem 0;
    }
    
}
@media screen and (min-width: 992px) {
    .hero{
        height: 76rem;
        background-image: url(../images/hero-bg.png);
    }
}